<form [ngFormModel]="form" (ngSubmit)="changepwd()">
	<div class="form-group">
		<label for="oldpwd"> Old Password
        </label>
		<input type="text" class="form-control" id="oldpwd"  
         required 
         ngControl="oldpwd"
         #oldpwd="ngForm"
         >
         <div
         *ngIf="oldpwd.errors && oldpwd.touched"
        class="alert alert-danger">
         Old Password cannot be empty
         </div>
       
	</div>
	<div class="form-group">
		<label for="newpassword"> New Password
        </label>
		<input type="text" class="form-control" 
        id="newpwd"
         ngControl="newPassword"
         #newpwd="ngForm"
         required
        >
        <div 
        *ngIf="newpwd.touched"
        class="alert alert-danger">
            New Password is required
        </div>
	</div>
	<button class="btn btn-primary" type="submit">
        Submit
    </button>
</form>